@import '../../settings.scss';

.root {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  flex-gap: 10px;
}

.item {
  width: 100%;
  list-style: none;
  border-top: $border-color 1px dashed;

  &:first-child {
    border-top: none;
  }
}

.link {
  width: 100%;
  padding: 8px 0;
  display: block;
  color: $button-bg-color;
  transition: color 0.2s;

  &:hover {
    color: lighten($link-text-color, 20%);
  }
}

.title {
  font-size: 16px;
}

.author {
  font-size: 12px;
  color: $secondary-text-color;
}

.date {
  font-size: 12px;
  color: $secondary-text-color;
}
