@import '../../settings.scss';

.root {
  height: 540px;
  display: flex;
  flex-direction: row;
  border: #ccc solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
  width: 100%;
}

.separator {
  margin: 25px 0;
  border-top: $border-color 1px dashed
}

.comments {
  width: 100%;
}
