@import '../../settings.scss';

.root {
  height: 540px;
  display: flex;
  flex-direction: row;
  border: #ccc solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  flex-direction: row;
}

.button {
  @include Button;
}
