.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input[type="text"],
  input[type="password"] {
    margin-top: 0;
    font-size: 12px;
  }

  input[type="submit"] {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 12px;
    margin-top: 10px;
  }

  .errorText {
    line-height: 14px;
    font-size: 12px;
    color: #d33671;
  }

  .errorField {
    border-color: #d33671 !important;
  }
}
